*{
    margin: 0;
    padding: 0;
    color: rgb(204, 202, 202);
    text-decoration: none;
    box-sizing: border-box; 
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    background-color: black;
}
#nav-container {
    background-color: black;
    opacity: 0.9;
}
.buttom-nav {
    font-family: "Playfair Display", serif;
    width: 100%; 
}
.menu-top {
    padding: 100px 0;
    margin: 0 auto;
}
.menu-top p {
    padding: 20px ;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
.menu-top h1 {
    margin: 0 20px;
    font-size: 50px;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    color: #cda45e;
}
.menu-container {
    width: 100%;
    position: relative;
}
.menu-container .select {
    width: 100%;
    margin: 80px 0 30px;
    text-indent: -70px;
    text-align: center;
}
.menu-container .select span{
    margin: 0 10px;
    font-size: 22px;
}
.menu-container section {
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
}
.menu-container section .list-food {
    display: flex;
    padding: 10px 10px 0 10px;
    flex-basis: 50%;
}
.list-food .food-img {
    width: 15%;
}
.list-food .food-img img {
    width: 85%;
    margin: 0 auto;
    /* height: 70px; */
    border-radius: 50%;
    border: 6px solid lightslategrey;
}
.list-food .food-name {
    margin: 10px 0px;
    position: relative;
}
.food-name .name-top {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
}
.food-name .name-top a:hover {
    color: #cda45e;
    cursor: pointer;
}
.food-name .line {
    border-top: 2px dashed grey;
    width: 80%;
    position: absolute;
    top: 20%;
    left: 35%;
}
.food-name .cost {
    font-size: 20px;
    font-weight: bold;
    color: #cda45e;
    position: absolute;
    top: 10%;
    left: 118%;
}
.food-name div i {
    font-size: 18px;
    word-spacing: 2px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5)
}




/* specials page  */


#specials {
    width: 100%;
    background-color: rgba(27, 26, 20, 0.5);
}
.specials-container {
    margin: 0 auto;
    padding: 50px 0;
    width: 1100px;
}
.specials-content p {
    padding: 20px ;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
}
.specials-content h1 {
    margin: 0 20px;
    font-size: 50px;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    color: #cda45e;
}
.flex-specials {
    display: flex;
    background-color: rgb(22, 20, 16);
    margin: 50px auto; 
    padding: 30px 0;
    border-radius: 20px;
}
.spec {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(22, 20, 16);
    margin: 50px auto;
    padding: 30px 0;
    border-radius: 20px;
}
.specname {
    flex-basis: 30%;
    font-family:cursive;
    border-left: #cda45e 4px solid;
    border-right: none;
}
.specname h1 {
    font-size: 350%;
    text-align: center;
    margin: 50px auto;
}

.specials-name {
    flex-basis: 30%;
    font-family:cursive;
    border-right: #cda45e 4px solid;
}
.specials-name h1 {
    font-size: 350%;
    text-align: center;
    margin: 50px auto;
}
.specials-name-display {
    flex-basis: 90%;
    margin: 0 30px;
}
.display {
    display: flex;
    overflow: hidden;
}
.name-article {
    width: 130%;
}
.name-article  h3{
    font-family: "Playfair Display", serif;
    font-size: 38px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.name-article p {
    font-size: 18px;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
    color: #aaaaaa;
    width: 100%;
    margin-bottom: 10px;
}
.name-article article {
    width: 100%;
    font-size: 19px;
    line-height: 27px;
    font-family: "Open Sans", sans-serif;
    color: #aaaaaa;
}
.name-article-img {
    width: 50%;
}


/* Event page  */




#event {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images//event/events-bg.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}
.event-container {
    width: 1150px;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden;
}
.event-content {
    margin-bottom: 50px;
}
.event-content p {
    font-size: 25px;
    line-height: 90px;
}
.event-content h1 {
    color: #cda45e;
    font-size: 45px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
.event-slider {
    overflow: hidden;
    position: relative;
}
.slide {
    width: 33.33%;
    float: left;
}
.slider-container {
    position: relative;
    width: 303%;
    margin: 0;
    left: 0;
    animation: 40s slide linear infinite;
}


@keyframes  slide{
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }
    12% {
        left: -100%;
    }
    22% {
        left: -100%;
    }
    24% {
        left: -200%;
    }
    34% {
        left: -200%;
    }
    36% {
        left: -100%;
    }
    46% {
        left: -100%;
    }
    48% {
        left: -0%;
    }
    58% {
        left: -0%;
    }
    60% {
        left: -100%;
    }
    70% {
        left: -100%;
    }
    72% {
        left: -200%;
    }
    82% {
        left: -200%;
    }
    84% {
        left: -100%;
    }
    94% {
        left: -100%;
    }
    96% {
        left: 0%;
    }

}
.event-slide {
    display: flex;
}
.event-img {
    flex-grow: 1;
    width: 47%;
}
.event-img img {
    width: 100%;
}
.img-article {
    flex-grow: 1;
    padding: 0 50px;
    width: 53%;
}
.img-article p {
    font-size: 35px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #cda45e;
    margin-bottom: 15px;
}
.img-article div {
    font-size: 38px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.img-article div span {
    border-bottom: #cda45e 4px solid;
}
.img-article ul li {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    font-style: italic;
    line-height: 30px;
}







/* media queries  */



@media screen and (max-width: 1200px) {


    .menu-top {
        width: 950px;
        margin: 0 auto;
    }

    .menu-container section {
        width: 950px;
    }

    .menu-container section .list-food {
        display: flex;
    }
    .list-food .food-img {
        width: 20%;
    }
    .list-food .food-img img {
        width: 90%;
        height: 80px;
    }
    .food-name .name-top {
        font-size: 20px;
    }
    .food-name .line {
        width: 65%;
        top: 20%;
        left: 30%;
    }
    .food-name .cost {
        font-size: 20px;
        top: 5%;
        left: 99%;
    }
    .food-name div i {
        font-size: 18px;
    }


    /* sepcial page  */

    .specials-container {
        padding: 10px 0;
        width: 940px;
    }
    .specials-content p {
        font-size: 18px;
    }
    .specials-content h1 {
        font-size: 45px;
    }
    .flex-specials {
        display: flex;
        margin: 50px auto; 
        padding: 20px 10px;
    }
    .spec {
        flex-direction: row-reverse;
        margin: 50px auto;
        padding: 20px 0;
    }
    .specname {
        border-left: #cda45e 4px solid;
    }
    .specname h1 {
        font-size: 280%;
        margin: 70px auto;
    }
    
    .specials-name {
        border-right: #cda45e 4px solid;
    }
    .specials-name h1 {
        font-size: 280%;
        margin: 70px auto;
    }
    .specials-name-display {
        margin: 0 30px;
    }
    .display {
        display: flex;
        overflow: hidden;
    }
    .name-article {
        width: 130%;
    }
    .name-article  h3{
        font-size: 32px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .name-article p {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .name-article article {
        font-size: 18px;
        line-height: 25px;
    }
    .name-article-img {
        width: 60%;
    }

    /* event  */


    
    .event-container {
        width: 960px;
        margin: 0 auto;
        padding: 100px 0;
        overflow: hidden;
    }
    
    .event-content p {
        font-size: 20px;
        line-height: 55px;
    }
    .event-content h1 {
        font-size: 40px;
    }
    .event-slide {
        display: flex;
        flex-direction: column;
    }
    .event-img {
        width: 97%;
        margin-bottom: 50px;
    }
    .event-img img {
        width: 100%;
    }
    .img-article {
        padding: 0;
        width: 97%;
    }
    .img-article p {
        font-size: 30px;
    }
    .img-article div {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .img-article ul li {
        font-size: 22px;
        margin-bottom: 15px;
        line-height: 30px;
    }
}





@media screen and (max-width: 990px) {
    
   
    
    .menu-top p {
        padding: 20px ;
        font-size: 16px;
    }
    .menu-top h1 {
        margin: 0 20px;
        font-size: 45px;
    }
    

    .menu-top {
        width: 730px;
        margin: 0 auto;
    }

    .menu-container section {
        grid-template-columns: auto;
        row-gap: 20px; 
        margin: 20px 0;
        width: 730px;
    }
    .menu-container section .list-food {
        display: block;
        padding: 10px 10px 0 10px;
        width: 730px;
    }
    .list-food .food-img {
        display: block;
        float: left;
        margin-left: 30px;
        width: 20%;
    }
    .list-food .food-img img {
        width: 60%;
        margin: 0 auto;
    }
    .list-food .food-name {
        margin: 10px 0px;
        width: 90%;
        position: relative;
        left: -30px;
    }
    
    .food-name .name-top {
        font-size: 22px;
    }
    .food-name .line {
        width: 65%;
        position: absolute;
        top: 30%;
        left: 43%;
    }
    .food-name .cost {
        font-size: 18px;
        position: absolute;
        top: 10%;
        left: 110%;
    }
    .food-name div i {
        font-size: 18px;
    }

    /* special page  */



    .specials-container {
        padding: 10px 0;
        width: 740px;
    }
    .specials-content p {
        font-size: 18px;
    }
    .specials-content h1 {
        font-size: 40px;
    }
    .flex-specials {
        display: flex;
        flex-direction: column;
        margin: 50px auto; 
    }
    .spec {
        flex-direction: column;
        margin: 50px auto;
        border-radius: 20px;
    }
    .specname {
        border-left: none;
        margin: 0 auto;
        width: 70%;
        border-bottom: #cda45e 2px solid;
    }
    .specname h1 {
        font-size: 200%;
        margin: 0 auto 5px;
    }
    
    .specials-name {
        border-right: none;
        width: 70%;
        margin: 0 auto;
        border-bottom: 2px #cda45e solid;
    }
    .specials-name h1 {
        font-size: 200%;
        margin: 0 auto 5px;
    }
    .specials-name-display {
        margin: 0 30px;
    }
    .display {
        display: flex;
        overflow: hidden;
    }
    .name-article {
        width: 120%;
    }
    .name-article  h3{
        font-size: 28px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .name-article p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .name-article article {
        font-size: 16px;
        line-height: 23px;
    }
    .name-article-img {
        width: 40%;
    }



    /* event  */



     
    .event-container {
        width: 720px;
    }
    
    .event-content p {
        font-size: 20px;
        line-height: 55px;
    }
    .event-content h1 {
        font-size: 38px;
    }
    .event-img {
        width: 95%;
    }
    .event-img img {
        width: 100%;
    }
    .img-article {
        width: 95%;
    }
    .img-article p {
        font-size: 28px;
    }
    .img-article div {
        font-size: 28px;
        /* margin-bottom: 30px; */
    }
    .img-article ul li {
        font-size: 21px;
        /* margin-bottom: 15px; */
        line-height: 28px;
    }

    
}



@media screen and (max-width: 768px) {


    .menu-container .select span {
        padding: 0px;
        font-size: 18px;
    }
    .menu-top p {
        padding: 20px ;
        font-size: 16px;
    }
    .menu-top h1 {
        margin: 0 20px;
        font-size: 35px;
    }
    .menu-top {
        width: 90%;
        margin: 0 auto;
    }

    .menu-container section {
        grid-template-columns: auto;
        row-gap: 20px; 
        margin: 20px 0;
        width: 90%;
    }
    .menu-container section .list-food {
        display: block;
        padding: 10px 10px 0 10px;
        width: 100%;
    }
    .list-food .food-img {
        display: block;
        float: left;
        margin-left: 30px;
        width: 25%;
    }
    .list-food .food-img img {
        width: 70%;
        margin: 0 auto;
    }
    .list-food .food-name {
        margin: 10px 0px;
        width: 90%;
        position: relative;
        left: 0px;
    }
    
    .food-name .name-top {
        font-size: 18px;
    }
    .food-name .line {
        width: 55%;
        position: absolute;
        top: 20%;
        left: 53%;
    }
    .food-name .cost {
        font-size: 16px;
        position: absolute;
        top: 10%;
        left: 110%;
    }
    .food-name div i {
        font-size: 16px;
    }
    
/* special page  */

    
    .specials-container {
        padding: 10px 0;
        width: 95%;
    }
    .specials-content p {
        padding: 10px 20px ;
        font-size: 16px;
    }
    .specials-content h1 {
        font-size: 30px;
    }
    .flex-specials {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        margin: 40px auto; 
    }
    .spec {
        flex-direction: column;
        margin: 0 auto;
        padding: 10px 0;
        border-radius: 20px;
    }
    .specname {
        border-left: none;
        margin: 0 auto;
        width: 70%;
        border-bottom: #cda45e 2px solid;
    }
    .specname h1 {
        font-size: 150%;
        margin: 0 auto 5px;
    }

    .specials-name {
        border-right: none;
        width: 70%;
        margin: 0 auto;
        border-bottom: 2px #cda45e solid;
    }
    .specials-name h1 {
        font-size: 150%;
        margin: 0 auto 5px;
    }
    .specials-name-display {
        margin: 0 20px;
    }
    .display {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .name-article {
        width: 100%;
    }
    .name-article  h3{
        font-size: 23px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .name-article p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .name-article article {
        font-size: 16px;
        line-height: 22px;
    }
    .name-article-img {
        width: 40%;
        margin: 0 auto;
    }
   

    /* event  */


     
    .event-container {
        width: 95%;
        margin: 0 auto;
    }
    
    .event-content p {
        font-size: 20px;
        line-height: 40px;
    }
    .event-content h1 {
        font-size: 33px;
    }
    .event-img img {
        width: 100%;
        margin-bottom: -10px;
    }
    .img-article div {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .img-article ul li {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
    }
}
