*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; 
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
} 
nav{
    background: rgba(29, 29, 29, 0.836);
    width: 100%;
    display: flex;
    padding: 10px 20px;
    position: fixed;
    z-index: 992;
}
label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
    position: absolute;
}
#check {
    display: none;
}
.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    color: rgb(204, 202, 202);
    font-size: 30px;
    line-height: 40px;
    padding: 0 10px;
    font-weight: bolder;
    border-radius: 15px;
    border: 3px solid rgb(204, 202, 202);
}

.nav-menu {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

nav ul li {
    list-style-type:none;
    margin: 10px;
}

nav ul li a {
    color: rgb(204, 202, 202);
    font-size: 16px;
    padding-bottom: 4px;
    border-radius: 10px;
}
.book-a-table {
    border: 2.5px solid #cda45e;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 1s;
}
.book-a-table:hover {
    background-color: #cda45e;
}

.basic {
    background: linear-gradient(currentcolor 0 0) 0 100% /var(--d, 0) 3px no-repeat;
    transition: 0.5s;
}

.basic:hover {
    --d: 100%;
}
.book-a-table:hover {
    --d: 0%;
} 



.container-slide {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg-img/sitting\ 1.jpg");
    animation: slider 20s infinite ;
    position: relative;

}


@keyframes slider {
    25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg-img/first\ image.jpg)
    }
    50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg-img/drink2.jpg);
    }
    75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg-img/hero-bg.jpg);
    }  
    100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg-img/sitting\ 1.jpg);
    }
   
}

 /* HOME PAGE STYLING */

 .main-body {
    background-color: transparent;
    color: rgb(204, 202, 202);
    position: absolute;
    top: 45%;
    left: 10%;
}
.text-one {
    margin-bottom: 5px;
    color: white;

    font-weight: bold;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.text-one b {
    color: #cda45e;
}
.text-two {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
 label .book-a-table {
    display: inline-block;
    color: rgb(204, 202, 202);
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 5px;
}

/* ABOUT PAGE  */

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/bg-img/about-bg.jpg);
    background-size: 80% 100%;
    background-attachment: fixed;
    padding: 60px;
    color: rgb(204, 202, 202);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}
.main-content {
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 40px;
    box-sizing: border-box;
}
.main-content-menu {
    font-size: 25px;
    line-height: 50px;
}
.main-content-list {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img-content img {
    flex-grow: 1;
    width: 90%;
}
.img-content img {
    box-sizing: border-box;
    margin: 30px;
    border: 6px solid rgba(77, 76, 76, 0.6);
    transition: .4s linear;
}
.img-content img:hover {
    transform: scale(1.05);
}

.about-bellow {
    padding: 30px;
    background-color: rgb(17, 16, 16);
    color: rgb(204, 202, 202);
    width: 100%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.why-us {
    font-size: 12px;
    width: 100%;
}
.why {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 60px;
    color: #cda45e;
}
.flex-box {
    margin: 40px 0px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
}
.box1 {
    margin: 0 20px;
    padding: 30px;
    width: 30%;
    height: 300px;
    background-color: #1d1c19;
    transition: .4s linear;
}
.first, .thrid {
    height: 270px;
}

.one {
    color: #cda45e;
    margin-top: 10px;
    line-height: 40px;
}

.one-heading {
    color: rgb(204, 202, 202);
    margin-bottom: 20px;
}
#one {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    color: rgb(204, 202, 202);
    font-size: 17px;
}
.box1:hover {
    background-color: #a78140;
    padding: 10px 30px;
    color: white;
}
.box1:hover .one {
    color: white;
}

/* TESTIMONIA  */

#testimonials {
    padding: 70px;
    background-color: #0f0e0d;
    color:#aaa;
    
}
.test-head {
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.book-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 60px;
    color: #cda45e;
}

 .slider {
    margin: 50px 100px;
    overflow: hidden;
    position: relative;
    height: 300px;
}
.slide {
    width: 20%;
    float: left;
}
.slide-container {
    background-color: rgb(59, 56, 49);
    width: 80%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}

.test-img {
    width: 20%;
    border-radius: 50%;
    border: 6px solid rgb(75, 73, 73);
}
.name {
    font-weight: bold;
    font-size: 20px;
}
.name p {
    font-size: 15px;
}

figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 50s slidy linear infinite;
}

@keyframes  slidy{
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }
    12% {
        left: -100%;
    }
    22% {
        left: -100%;
    }
    24% {
        left: -200%;
    }
    34% {
        left: -200%;
    }
    36% {
        left: -300%;
    }
    46% {
        left: -300%;
    }
    48% {
        left: -400%;
    }
    58% {
        left: -400%;
    }
    60% {
        left: -300%;
    }
    70% {
        left: -300%;
    }
    72% {
        left: -200%;
    }
    82% {
        left: -200%;
    }
    84% {
        left: -100%;
    }
    94% {
        left: -100%;
    }
    96% {
        left: 0%;
    }

}

/* gallery page */

#gallery {
    background-color: black;
    color: #aaa;
    padding: 70px 0px;
}
.gallery-name {
    letter-spacing: 3px;
    padding: 70px;
    font-size: 20px;
    font-weight: normal;
}

.gallery-heading {
    color: #cda45e;
    padding: 20px 70px;
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.gallery-img {
    padding: 20px;
    padding-bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow: hidden;
}
.gallery-img .img-container {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    overflow: hidden;
}
.gallery-img img {
    width: 100%;
    transition: 1s;
}
.gallery-img img:hover {
    transform: scale(1.1) ;
}




/* chefs page  */


.chefs {
    background-color: black;
    color:#aaa;
    padding: 10px 10px;
}
.chefs-name {
    letter-spacing: 3px;
    padding: 30px 70px;
    font-size: 20px;
    font-weight: normal;
}
.chefs-heading {
    color: #cda45e;
    padding: 10px 70px;
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.chefs-img {
    padding: 0 30px;
    color: rgb(204, 202, 202);
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    column-gap: 20px;
}
.chefs-img-title {
    position: relative;
}
.chefs-pot{
    height: 100%;
    width: 100%;
    background: transparent;
    color: transparent;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    position: absolute;
    top: 0%;
    transition: .5s;
}
.chefs-pot:hover {
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
}

/* BOOK A TABLE  */


#book {
    background-color: rgb(8, 6, 0);
    color:#aaa;
    padding: 100px 40px;
    
}
.book-name {
    font-size: 18px;
    font-weight: normal;
    padding: 0 40px;
}
.book-heading {
    color: #cda45e;
    padding: 10px 40px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.book-form {
    width: 100%;
}
.input {
    width: 30.3%;
    height: 55px;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #857a65;
    font-size: 18px;
    color: #857a65;
}
textarea {
    margin: 20px 10px;
    width: 97%;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    height: 150px;
    resize: vertical;
    border: 1px solid #857a65;
    color: #857a65;

}
.input, textarea {
    outline: none;
}
::placeholder {
    color: #86837d;
}
:-ms-input-placeholder {
    color: #86837d;
}
::-ms-input-placeholder {
    color: #86837d;
}
.book-submit {
    text-align: center;
    margin: 20px;
}
button {
    background-color: #aa8544;
    color: rgb(204, 202, 202);
    border: 3px solid #aa8544;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

/* contact page  */

#contact {
    background-color: black;
    color:#aaa;
    padding: 20px 50px;
    
}
.contact-name {
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: normal;
}
.contact-heading {
    color: #cda45e;
    padding: 10px 0px;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.inline {
    width: 100%;
    display: flex;
}
 .location {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
} 

 .details {
    width: 70%;
    font-size: 18px;
} 
.icon{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
}
.facebook {
    background-color: #cda45e;
    border-radius: 50%;
    padding: 10px;
    width: 30%;
}
.address {
    width: 50%; 
    margin: 30px 0 30px 30px;

}

.message, .message2, .message3 {
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: 2px solid #86837d;
    font-size: 18px;
    color: #86837d;
    outline: none;
}
.message {
    width: 44.7%;
    height: 60px;
}
.message2 {
    width: 95%;
    height: 60px;
}
.message3 {
    width: 95%;
    height: 150px;
}
div .send-message {
    margin: 30px auto;
    background-color: #cda45e;
    padding: auto auto;
}
.send-message-container {
    text-align: center;
}

/* footer  */

footer {
    background-color: rgb(14, 13, 13);
    color: rgb(204, 202, 202);
    font-size: 20px;
    padding: 10px;
    display: flex;
}
.footer1 {
    flex-basis: 50%;
    display: flex;
}
.footer1-flex {
    width: 100%;
    padding: 10px 50px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.footer2 {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2-flex {
    width: 100%;
    padding: 10px 30px;
}
.footer1-flex > p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #cda45e;
    margin-bottom: 10px;
}
address {
    font-size: 18px;
}
.footer1 > div {
    font-style: italic;
    font-size: 18px;
}
.footer2-flex > h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    color: #cda45e;
}
.footer2-flex > div {
    margin-top: 20px;
    background-color: #24211c;
    display: flex;
    width: 70%;
    justify-content: flex-end;
    border-radius: 30px;
    font-family: sans-serif;

}
div .sub {
    padding: 15px;
    border-radius: 30px;
    background-color: #aa8544;
    width: 50%;
    text-align: center;
}
div .sub:hover {
    cursor: pointer;
    background-color: #c29343;
}
.social {
    margin-top: 20px;
    display: flex;
}


.end {
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: rgb(204, 202, 202);
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.end p b {
    color: #cda45e;
}
p span {
    color: #cda45e;
}




/* medial query for tablate size */


@media screen and (max-width: 990px) {



    /* nav style  */


    .nav-menu {
        margin-right: 0px;
    }
    .book-a-table {
        display: none;
    }




    /* body  */

    .main-body {
        text-align: center;
        top: 40%;
        left: 0;
        right: 0;
    }
    .text-one {
        font-size: 50px;
    }
    .text-two {
        font-family: 'Times New Roman', Times, serif;
        font-size: 22px;
    }
     label .book-a-table {
        margin: 20px 5px;
    }
        /* ABOUT PAGE  */

        
    .about {
        background-size: cover;
        padding: 40px;
        color: rgb(204, 202, 202);
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
    }
    .main-content {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        line-height: 40px;
        box-sizing: border-box;
    }
    .main-content-menu {
        font-size: 25px;
        line-height: 50px;
    }
    .main-content-list {
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .img-content {
        flex-grow: 1;
        align-items: center;    
        width: 100%;
    }
    .img-content img {
        box-sizing: border-box;
        margin: 0px;
    }

    .about-bellow {
        padding: 30px ;
    }
    .why-us {
        font-size: 12px;
        width: 100%;
    }
    .flex-box {
        margin: 40px auto;
        flex-direction: column;
        align-items: center;
    }
    .box1 {
        margin: 20px auto;
        width: 700px;
    }

    /* TESTIMONY PAGE  */



    #testimonials {
        padding: 50px;
    }
    .test-head {
        font-size: 14px;
    }
    
    .book-content {
        font-size: 40px;
        line-height: 40px;
    }
    
     .slider {
        margin: 50px 10px;
    }
    .slide-container {
        width: 600px;
    }


        
        
    /* gallery page */

    #gallery {
        padding: 70px 0px;
    }
    .gallery-name {
        padding:  0 70px;
        font-size: 18px;
    }

    .gallery-heading {
        padding: 0px 70px;
        font-size: 37px;
        line-height: 40px;
    }
    .gallery-img {
        display: grid;
        grid-template-columns: auto auto auto;
    }


    /* CHEFS PAGE  */


    .chefs {
        padding: 10px 30px;
    }
    .chefs-name {
        letter-spacing: 1px;
        padding: 30px 30px;
    }
    .chefs-heading {
        padding: 20px 20px;
        font-size: 40px;
        letter-spacing: 1px;
    }
    .chefs-img {
        padding: 0 30px;
        grid-template-columns: auto auto;
    }


        
    /* BOOK A TABLE  */


    #book {
        background-color: rgb(8, 6, 0);
        color:#aaa;
        padding: 100px 50px;
        
    }
    .book-name {
        font-size: 15px;
        padding: 0;
    }
    .book-heading {
        padding: 10px 0;
        font-size: 25px;
    }
    .book-form {
        width: 100%;
    }
    .input {
        width: 46.3%;
        height: 60px;
        padding: 10px;
        margin: 20px 10px;
    }
    textarea {
        margin: 20px 10px;
        width: 97%;
        height: 150px;

    }

        /* contact page  */

    #contact {
        padding: 20px 0px;
        
    }
    .contact-name {
        letter-spacing: 1px;
        font-size: 18px;
        padding: 30PX;
    }
    .contact-heading {
        padding: 10px 30px;
        font-size: 30px;
        letter-spacing: 0px;
        line-height: 40px;
    }
    .inline {
        flex-direction: column;
    }
    .location {
        width: 500px;
    }
    .list {
        margin: 10px 10px;
    } 

    .details {
        font-size: 18px;
    } 
    .icon{
        margin: 10px;
    }
    
    .address {
        width: 750px; 
        margin: 30px auto;

    }
    .message {
        width: 47%;
    }
    .message2 {
        width: 97%;
    }
    .message3 {
        width: 97%;
    }
    div .send-message {
        margin: 30px auto;
    }
    


}






 /* SMALL sizeS  */

@media screen and (max-width: 768px) {
    

    /* nav sttyle  */

    nav {
        flex-direction: column;
    }
    label #btn, 
    label #cancle {
        color: white;
        font-size: 25px;
        cursor: pointer;
        display: inline-block;
        position: absolute;
    }
    
    #check {
        display: none;
    }
    .logo {
        display: block;
        justify-content: baseline;
        align-items: flex-start;
    }
    .nav-logo {
        margin: 0 auto;
        padding: 0 10px;
        line-height: 35px;
        letter-spacing: 3px;
    }
    .nav-menu {
        display: block;
        background: rgba(29, 29, 29, 0.836);
        width: 70%;
        position: absolute;
        top: 100%;
        left: -70%;
        transition: all .5s;
    }

        .nav-menu li {
        text-align: center;
        display: block;
        line-height: 10px;
        letter-spacing: 2px;
        margin: 65px 0;
    }
        .nav-menu li a {
        font-size: 16px;
    }

        #check:checked ~ ul {
        left: 0;
    } 
        #check:checked ~ label #btn {
        display: none;
        left: 0%;
    }
        #check:checked ~ label #cancel { 
        display: block;
    }


        /* BODY */

    .main-body {
        text-align: center;
        top: 40%;
        left: 0;
        right: 0;
    }
    .text-one {
        margin-bottom: 5px;
        font-weight: 900;
        font-size: 30px;
    }
    .text-two {
        font-family: 'Times New Roman', Times, serif;
        font-size: 22px;
    }
     label .book-a-table {
        margin: 30px 5px;
        font-size: 14px;
    }


        /* ABOUT PAGE  */

    
    .about {
        background-size: cover;
        color: rgb(204, 202, 202);
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
    }
    .main-content {
        width: 100%;
        padding: 0px;
        line-height: 30px;
        box-sizing: border-box;
    }
    .main-content-menu {
        font-size: 23px;
        line-height: 50px;
    }
    .main-content-list {
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .img-content {
        flex-grow: 1;
        align-items: center;    
        width: 100%;
    }
    .img-content img {
        margin: 30px 0;
    }


    .why {
        font-size: 30px;
        line-height: 50px;
    }
    .box1 {
        margin: 20px auto;
        height: 250px;
        width: 100%;
    }



    /* TESTIMONY PAGE  */


    
    #testimonials {
        padding: 30px;
    }
    .test-head {
        font-size: 13px;
    }
    
    .book-content {
        font-size: 25px;
        line-height: 20px;
    }
    
     .slider {
        margin: 50px 10px;
    }
    .slide-container {
        width: 90%;
    }
    
    .test-img {
        width: 25%;
    }
    .name {
        font-size: 15px;
    }
    .name p {
        font-size: 1px;
    }
       

        /* gallery page */
    .gallery-name {
        padding: 20px;
        font-size: 16px;
    }
    .gallery-heading {
        padding: 0 20px;
        font-size: 30px;
        line-height: 40px;
    }
    .gallery-img {
        grid-template-columns: auto;
    }

    /* CHEFS PAGE  */


    .chefs {
        padding: 10px 30px;
    }
    .chefs-name {
        letter-spacing: 0px;
        padding: 20px 0px;
        font-size: 13px;
    }
    .chefs-heading {
        padding: 10px 0px;
        font-size: 25px;
        letter-spacing: 0px;
    }
    .chefs-img {
        padding: 0;
        min-width: 100%;
        grid-template-columns: auto;
    }
       

       
    /* BOOK A TABLE  */


    #book {
        padding: 100px 20px;
        
    }
    .book-name {
        font-size: 13px;
    }
    .book-heading {
        font-size: 20px;
    }
    .book-form {
        width: 100%;
    }
    .input {
        width: 100%;
        height: 60px;
        padding: 10px;
        margin: 10px 10px;
    }
    textarea {
        margin: 10px 10px;
        width: 100%;
        height: 150px;
    }


      /* contact page  */

      #contact {
        padding: 20px 0px;
        
    }
    .contact-name {
        letter-spacing: 1px;
        font-size: 15px;
    }
    .contact-heading {
        padding: 10px 30px;
        font-size: 25px;
        letter-spacing: 0px;
        line-height: 30px;
    }
    
    .location {
        width: 100%;
        margin-left: -40px;
    }
    .list {
        margin: 10px 10px;
    } 

    .details {
        font-size: 16px;
    } 
    .icon{
        margin: 10px;
    }
    .facebook {
        width: 45px;
    }
    
    .address {
        width: 90%; 
        margin: 30px auto;

    }
    .message {
        width: 100%;
    }
    .message2 {
        width: 100%;
    }
    .message3 {
        width: 100%;
    }
    div .send-message {
        margin: 20px auto;
    }


        /* footer  */

    footer {
        display: flex;
        flex-direction: column;
    }
    
    .footer1-flex {
        padding: 10px 50px;
        margin: 40px 0;
    }
    .footer2 {
        justify-content: flex-start;
    } 
    .footer2-flex {
        width: 90%;
        padding: 10px 50px;
    }
    .footer1-flex > p {
        font-size: 16px;
    }
    address {
        font-size: 14px;
    }
    .footer1 > div {
        font-style: italic;
        font-size: 14px;
    }
    .footer2-flex > h2 {
        font-size: 16px;
    }
    .footer2-flex > p {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
    }
    .footer2-flex > div {
        width: 100%;

    }
    div .sub {
        width: 45%;
        padding: 10px;
        font-size: 14px;
    }
    .social {
        margin-top: 10px;
        display: flex;
    }

    .end {
        font-family: "Poppins", sans-serif;
        background-color: black;
        color: rgb(204, 202, 202);
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        font-size: 12px;
        word-spacing: 1px;
        letter-spacing: 1px;
    }
   
}